*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.error{
  color: red;
  font-size: 15px;
  margin-top: 20px;
}

.ant-table-thead .ant-table-cell {
  background-color: #001529 !important;
  color: #d8d8d8  !important;
}